*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a { 
    text-decoration: none;
    color: #EAECEE ;
}

body{
    height: 2000px;
}
header{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black ;
    align-items: center;  
    border: 2px solid;
    
}
header ul li:hover{
    border-bottom: 3px solid white;
}
header h1{
    color: white;
}

ul{
    display: flex;
    width: 20%;
    justify-content: space-around;
    list-style-type:none ;

}
  div.hero {
    opacity: 1;
    text-align: center;
    text-align : center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url("../img/dark.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    margin-top: -30px;
    
    
  }
  
  div.hero h1 {
    font-weight: lighter;
    color: #F5F7E5  ;
    margin-bottom: 20px;
    font-size: 4em;

  }
  
  div.hero h2{    
      font-weight: lighter; 
      color: #F5F7E5    ;

  }
  div.nav{
      text-align: right;
  }
  div.nav h1{
         text-align: left;  
  
  }


  .about {
    width: 80%;
    background-color: aqua;
    margin: 40px auto;
    padding: 40px;
    

  }
  .more h1{
     text-align: right;
      
  }



  

