*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a { 
    text-decoration: none;
    color: white;
}

body{
    background-image: url("../img/dark.png");
}

header{ 
    display: flex;
    justify-content: space-between;
    background-color: black ;
    align-items: center;  
    border: 2px solid;

    
}
header h1{
    color: white;
}

ul{
    display: flex;
    width: 20%;
    justify-content: space-around;
    list-style-type:none ;

}
/* hero section  */
/* body {
    background-image: url('../img/Nature.jpg');
    border: 2px solid;
    height: 600px;
    width: 100%;
  } */
  div.hero {
    opacity: 1;
    text-align: center;
    text-align : center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    
    
  }
  
  div.hero h1 {
    font-weight: lighter;
    color: #FFFDEA;
    margin-bottom: 20px;
  }
  
  div.hero h2{    
      font-weight: lighter; 
      color: #FFFDEA;

  }
  div.nav{
      text-align: right;
  }
  div.nav h1{
         text-align: left;  
  
  }


  

